<div id="backbg">



<div class="container2">
  <div class="row">
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/squad tpp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Squad ( TPP )    Fee.10/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/squad tpp2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Squad ( TPP )    Fee.50/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/squad tpp3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Squad ( FPP )    Fee.10/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/solo tpp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Solo ( TPP )    Fee.10/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/solo tpp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Solo ( TPP )    Fee.50/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" >
        <img class="card-img-top" src="../../assets/imgs/portfolio/solo tpp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Solo ( FPP )    Fee.10/-</h5>
          <p class="card-text">Join to get the room id and password on your phone to be a part of thrilling adventure.</p>
          <a href="#" class="btn btn-primary">Join In</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>