<button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
        <h1><a routerLink="/" class="scrollto">GTH</a></h1>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a routerLink="/">Home</a></li>
        <li class="nav-menu"><a routerLink="about">About</a></li>
        <li class="nav-menu"><a routerLink="contact">Contact</a></li>
        <li class="nav-menu"><a routerLink="watch-ongoing">Watch Ongoing</a></li>
        <li class="buy-tickets"><a routerLink="login-signup">SignIn/SignUp</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>