<section id="asdf" >
    <div id="body1">
    <div class="container">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">GAMING TOURNAMENT HUB</h2>
          <p>
            <b>GTH</b> is an E- SPORTS platform or online portal , 
            which provide an opportunity to earn rewards with great entertainment by 
            joining or playing online games
            such as [PUBG MOBILE] [ FREE FIRE ] .<br><br>

              Do you like to play pubg mobile or Free fire ? <br>
              Do you want to earn money by playing online game ? <br><br><br>
              Yes , it is possible on our platform by playing online game you can earn 
              unlimited money by joining custom room for Chicken Dinner & BooYahh also each kill 
              throughout the game<br><br><br>
          </p>
        </div>
        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
      </div>
    </div>
    </div>
  </section><!-- #about -->